@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  --shadow-color: rgba(0,0,0, .4);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

section {
  width: calc(50vw - 80px);
  margin: 0 1rem;
  min-width: 240px;
  margin-bottom: 2rem;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .form-group{
    flex-grow: 1;
    max-width: calc(50% - 15px);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  select, input, textarea {
    padding: 5px;
    min-height: 1rem;
    font-size: 1rem;
  }

  select {
    min-height: 2rem;
  }
}

.submit {
  padding: 7px 1rem;
  background-color: #0095ff;
  border: none;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  box-shadow:
    2px 2px 5px var(--shadow-color),
    -2px 2px 5px var(--shadow-color);
  outline: none;

  &:active {
    background-color: darken(#0095ff, 5%);
    box-shadow: 
      inset 2px 2px 2px var(--shadow-color),
      inset 2px -2px 2px var(--shadow-color),
      inset -2px 2px 2px var(--shadow-color);
  }
}

label {
  margin-right: 1rem;
}

textarea {
  display: block;
  height: 27vh;
  resize: none;
}

:not(input):not(textarea) {
  user-select: none;
}